<script src="./js/navbar-burger.js"></script>
<nav class="navbar is-fixed-top is-transparent">
    <div class="navbar-brand">
        <a class="navbar-item" href="/" id="logo">
            <img src="./images/noun-cheese-5009417.svg" id="cheese-wine-icon">
        </a>
    </div>

    <a role="button" id="burger" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="pages">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
    </a>

    <div id="pages" class="navbar-menu">
        <div class="navbar-start">
            <!-- if user is NOT logged in -->
            {{!-- {{#if }}  --}}
            {{!-- {{else}} --}}
            <a class="navbar-item" href="cheesefolio">My Cheesefolio</a>
            <a class="navbar-item" href="cheese-date">Cheese Date</a>

            {{!-- {{/if}} --}}
        </div>
        <div class="navbar-end">
            <a class="navbar-item" href="login">Login</a>
            <a class="navbar-item" href="signup">Create an Account</a>
            <a class="navbar-item" href="logout">Logout</a>
        </div>
    </div>
</nav>