<ul>
<!-- if user is NOT logged in -->
    {{!-- {{#if }}  --}}
    <li><a href="login">Login</a></li>
    <li><a href="signup">Create an Account</a></li>
    {{!-- {{else}} --}}
    <li><a href="cheesefolio">My Cheesefolio</a></li>
    <li><a href="cheese-date">Cheese Date</a></li>
    <li><a href="logout">Logout</a></li>
    {{!-- {{/if}} --}}
</ul>