<h2 class="title is-1 has-text-centered">Cheese Date</h2>
<div class="container is-max-desktop is-flex is-flex-wrap-wrap is-justify-content-space-evenly">
  {{#each users as |user|}}
  {{> user-card}}
  {{/each}}
</div>
