<main>
    <section class="has-text-centered">
        <h2 class="title is-1">Create Your Profile</h2>
        <p class="block">To start connecting with other cheese lovers, fill out your profile.</p>
    </section>
</main>