<main>
    <h2 class="title is-1 has-text-centered">Your Cheesefolio</h2>
    <div class="container is-max-desktop">
        <p><b>Username</b>: {{name}}</p>
        <p><b>Bio</b>: {{bio}}</p>
        <p><b>City</b>: {{city}}</p>
        <p><b>State</b>: {{state}}</p>
    </div>
</main>