<br>
<section class="has-text-centered">
<h2 class="title is-1">You're My Feta Half</h2>

<img class = 'is-rounded' src='./assets/images/cheeselove.jpeg' alt="cheese-hearts" >




</section>
<br>
<section class="has-text-centered">
<h4 class="title is-3">Find Other Cheese Lovers!</h4>