<main>
  <section class="has-text-centered">
    <h2 class="title is-1">Login</h2>
    <p class="block">Please enter your credentials to access your account.</p>
  </section>
  <section>
    <div class="container is-max-desktop">
      <form class="mx-5 login-form">
        <div class="field">
          <label class="label" for="email-login">Email Address</label>
            <div class="control has-icons-left">
              <input 
                class="input" 
                type="email" 
                placeholder="Enter your email address"
                name="email" 
                id="email-login" 
                required>
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </div>
        </div>
        <div class="field">
          <label class="label" for="psw">Password</label>
            <div class="control has-icons-left">
              <input 
                class="input" 
                type="password" 
                placeholder="Enter your password"
                name="password" 
                id="password-login" 
                required>
              <span class="icon is-small is-left">
                <i class="fa-solid fa-lock"></i>
              </span>
            </div>
        </div>
        <div class="field">
          <div class="control">
            <button type="submit" id="loginbtn" class="button mt-2">Login</button>
          </div>
          <p>Don't have an account yet? <a href="signup">Sign up</a>!</p>
        </div>
      </form>
          
    </div>
  </section>
</main>

<script src="./js/login.js"></script>