<main>
    <section class="has-text-centered">
        <h2 class="title is-1">Create an Account</h2>
        <p class="block">Please fill in this form to create an account.</p>
    </section>

    <section>
        <div class="container is-max-desktop">
            <form class="mx-5 signup-form">

                <div class="field">
                    <label class="label" for="name">Username</label>
                    <div class="control has-icons-left">
                        <input id="username-signup" class="input" type="text" placeholder="Enter your username"
                            name="userName" id="name" required>
                        <span class="icon is-left">
                            <i class="fas fa-cheese"></i>
                        </span>
                    </div>
                </div>

                <div class="field">
                    <label class="label" for="email">Email Address</label>
                    <div class="control has-icons-left">
                        <input id="email-signup" class="input" type="email" placeholder="Enter your email address"
                            name="email" id="email" required>
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                    </div>
                </div>

                <div class="field">
                    <label class="label" for="psw">Password</label>
                    <div class="control has-icons-left">
                        <input id="password-signup" class="input" type="password" placeholder="Enter a password"
                            name="password" required>
                        <span class="icon is-small is-left">
                            <i class="fa-solid fa-lock"></i>
                        </span>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <button type="submit" id="signupbtn" class="button mt-2">Sign Up</button>
                    </div>
                </div>

            </form>
        </div>

    </section>

</main>

<script type="application/javascript" src="./js/signup.js"></script>