@font-face {
    font-family: "Nilky & Miky by Keithzo";
    src: url("../assets/fonts/Nilky\ &\ Miky\ by\ Keithzo\ \(7NTypes\).otf");
}

#logo {
    padding-bottom: 0rem;
}

#cheese-wine-icon {
    max-height: 4rem;
}

.navbar, html {
    background-color: #fff789;
    font-family: "Nilky & Miky by Keithzo";
}

body {
    padding-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Nilky & Miky by Keithzo";
}

.current-page {
    text-decoration: underline;
}

.hide {
    visibility: hidden;
}

.card {
    width: 300px;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 20px;
}
